<html><head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"><title>Index of {{ index_name }}</title>
{% if static_ref %}
<link rel="stylesheet" type="text/css" href="{{ static_ref }}/style.css" >
{% else %}
<style type="text/css">
body {
        margin:40px auto;
        max-width:60%;
        line-height:1.6;
        font-size:18px;
        color:#444;
        padding:0 10px
}
table {
        width:60%;
		text-align:left
}
h1,h2,h3 {
        line-height:1.2
}
input.wget-text {
        width:50%
}
</style>
{% endif %}
</head>
<body bgcolor="white">
        <h1>Index of {{ index_name }}</h1><hr>
        <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Modified</th>
      <th>Size</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Modified</th>
      <th>Size</th>
    </tr>
  </tfoot>
  <tbody>
<tr>
<td><a href="../">../</a></td>
</tr>
{% for item in files_dict %}
    <tr>
<td><a href="{{ item['name'] }}">{{ item['name'] }}</a></td>
<td>{{ item['modtime'] }}</td>
<td>{{ item['size'] }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

<hr>

<h3>Download All:</h3>
<input class='wget-text' value='wget -m -nH -np -c -e robots=off -R "index.html*" "{{ url_full }}"' id="cptrg" type="text" readonly>
<button class="ui right labeled icon button" id="cpbtn" data-clipboard-target="#cptrg">
<i class="copy icon"></i>
Copy
</button>

{% if expiry_str %}
<p> This page expires on {{ expiry_str }}</p>
{% endif %}

</body></html>
