body {
        margin:40px auto;
        max-width:60%;
        line-height:1.6;
        font-size:18px;
        color:#444;
        padding:0 10px
}
table {
        width:60%;
		text-align:left
}
h1,h2,h3 {
        line-height:1.2
}
input.wget-text {
        width:50%
}
